Possible error when checking length of service name

I’ve been using version 0.17.5 your zeroconf library – very helpful!  When I upgraded to the 0.17.6 version, I received errors that the length of the service name was greater than 15 characters (zeroconf.py around line 223).  However, in reading the mDNS spec (RFC 6762), mDNS increased the length of the name to 255 characters.  Am I understanding this correctly?



Thanks for the feedback.

RFC 6762 is the mDNS spec.  I believe the operative spec for name lengths is RFC 6763, DNS-Based Service Discovery. I think the operative section is 7.2, '[Service Name Length Limits](https://tools.ietf.org/html/rfc6763#section-7.2)'.  In the code I put copious comments referencing the spec.  However that does not mean I necessarily got it right, as evidenced by #74.  #74 has been fixed, but not yet released.

If, after reading the linked section of 6763 you still think the code here is in error, please post an example name that the name validation code is getting wrong, so that the test cases can be updated.

I concur.  Service name syntax is also defined in RFC 6335 (section 5.1) with a limit of 15 characters.