Registring services with underscore failes

if I try to register the service "CustomerInformationService._ibisip_http.local." with the function **register_service()**, I get the error: 

`  File "C:\Program Files (x86)\Python36-32\lib\site-packages\zeroconf.py", line 267, in service_type_name
    "A-Z, a-z, 0-9, hyphen ('-')%s" % (name, ", underscore ('_')" if allow_underscores else ""))

zeroconf.BadTypeInNameException: Service name (ibisip_http) must contain only these characters: A-Z, a-z, 0-9, hyphen ('-')`

The problem seems to be in the function **check_service()** 

line 1936 should look like this:

`service_name = service_type_name(info.name, allow_underscores=True)`

Registering names violating [section 5.1 of RFC 6335](https://tools.ietf.org/html/rfc6335#section-5.1) (that includes underscores) is not supported. See https://github.com/jstasiak/python-zeroconf/issues/102 for more details.